section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; /* چون 10 وی اچ رو ناوبار یا همون منو میگیره */
}

.parent {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.parent h2 {
  font-size: 4.8rem;
}
.parent h3 {
  font-size: 3rem;
  max-width: 45ch;
  text-align: center;
}

.btn {
  font-weight: 500;
  font-size: 1.8rem;
}

.btn:hover {
  cursor: pointer;
  animation: btnHoverTransition 0.5s forwards ease-in-out;
}

@keyframes btnHoverTransition {
  from {
    background-color: #4c6e97;
  }
  to {
    background-color: #27394e;
  }
}

@media screen and (max-width: 810px) {
  .parent h2 {
    font-size: 3rem;
  }
  .parent h3 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1rem;
    width: 15px;
    height: 10px;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
