/* Global Settings*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgb(248, 245, 245);
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}

a:link {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

/* -------------------------------------- */
